<div class="container" *ngIf="person">
    <div class="main-body">

        <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{person.picture}}" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                                <h4>{{person.name}}</h4>
                                <p class="text-secondary mb-1">Registered : {{person.registered}}</p>
                                <p class="text-muted font-size-sm">Company : {{person.company}}</p>
                                <p class="text-muted font-size-sm">Gender : {{person.gender}}</p>
                                <p class="text-muted font-size-sm">EyeColor : {{person.eyeColor}}</p>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="card mt-3">
                    <h4 class="m-3">Friends</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap" *ngFor="let friend of person.friends">
                            <span class="text-secondary">{{friend.name}}</span>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-md-8">
                <div class="card mb-3">
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{person.email}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{person.phone}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">About</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{person.about}}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <h6 class="mb-0">Tags</h6>
                            </div>
                            <span class="col-sm-9 text-secondary">
                                {{person.tags}}
                            </span>
                        </div>
                    </div>
                </div>



            </div>

        </div>
    </div>
</div>